.about-section {
  padding-top: 10vh !important;
  p {
    color:black;
    margin-bottom: 5rem;
  }
  .about-img{
    height: 55vh;
    width: auto;
    float: right;
  }
  .intro-detail{
    font-size: 2.5vh;
    text-align: justify;
    text-justify: inter-word;
  }
  .about-text{
    margin-top: 5vh;
  }
  .ellipse-container {
    position: relative;    
    color: black;
  }
  /* Top right text */
.top-right {
  position: absolute;
  top: 2vh;
  right: 6vh;
}

.mobile-center{
  text-align: unset;
}


@media (max-width: 992px) {
  .about-img{
    text-align: center;
    float:none;
    height: 55vw;
  }
  .mobile-center{
    text-align: center;
  }
}


}
