.contact-page {
  .email-details{
    display: flex;
    flex: .3;
    justify-content: flex-end;
    padding-right: 5vh;
    border-right: 1px solid black;
  }

  .email-container{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
  }

  .email-fields-container{
    display: flex;
    flex: .4;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vh;
  }

  .email-fields{
    display:flex;
    flex-direction: column;
  }
  

  .card {
    border: 0;
    border-bottom: 0.25rem solid $primary;
    h4 {
      font-size: 0.8rem;
      font-family: 'Varela Round';
      text-transform: uppercase;
      letter-spacing: 0.15rem;
    }
    hr {
      border-color: $primary;
      border-width: 0.25rem;
      width: 3rem;
    }
  }
  .social {
    margin-top: 5rem;
    a {
      text-align: center;
      height: 3rem;
      width: 3rem;
      background: fade-out($white, 0.9);
      border-radius: 100%;
      line-height: 3rem;
      color: fade-out($white, 0.7);
      &:hover {
        color: fade-out($white, 0.5);
      }
      &:active {
        color: $white;
      }
    }
  }
}
