.contact-page {
  .email-details{
    display: flex;
    flex: .3;
    justify-content: flex-end;
    padding-right: 5vh;
    border-right: 1px solid black;
  }

  .dropdown-intro-text{
    margin-bottom:2vh;
  }

  .dropdown-row{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    margin-bottom:4vh;
  }

  .message-input{
    margin-bottom:4vh;
  }

  .name-input{
    margin-bottom: 4vh;
  }

  .dropdown-contact{
    border: 1px solid #ced4da;
    width: 100%;
    padding: 3vh 6vh !important;
  }

  .dropdown-container{
    width:80%;
  }

  .email-container{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
  }

  .email-fields-container{
    display: flex;
    flex: .4;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vh;
  }

  .email-fields{
    display:flex;
    flex-direction: column;
  }

  .submit-btn{
    background-color: #0024B1;
    color:white;
    border-color: #0024B1 !important;
    border: 2px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    font-family: 'Effra' !important;
    font-weight: 500;
    font-size: 2.5vh;
    padding: 1vh;
    padding-right: 1vh;
    padding-left: 1vh;
    padding-left: 6vh;
    padding-right: 6vh;
    width:30%;
  }
  

  .card {
    border: 0;
    border-bottom: 0.25rem solid $primary;
    h4 {
      font-size: 0.8rem;
      font-family: 'Effra';
      text-transform: uppercase;
      letter-spacing: 0.15rem;
    }
    hr {
      border-color: $primary;
      border-width: 0.25rem;
      width: 3rem;
    }
  }
  .social {
    margin-top: 5rem;
    a {
      text-align: center;
      height: 3rem;
      width: 3rem;
      background: fade-out($white, 0.9);
      border-radius: 100%;
      line-height: 3rem;
      color: fade-out($white, 0.7);
      &:hover {
        color: fade-out($white, 0.5);
      }
      &:active {
        color: $white;
      }
    }
  }
}
