#mainFooter {
  min-height: 56px;
  background: #0024B1;
  font-family: 'Effra';
  padding: 3vh;
  display:flex;


  @media (max-width: 599px) {
    
  }


  .footer-toggler {
    font-size: 80%;
    color: $primary;
    border: 1px solid $primary;
    &:focus {
      outline: none;
    }
  }
  .footer-container{
    display: flex;
  }

  .footer-icon-margin{
    padding-bottom: 2vh !important;
  }

  .footer-social-icon{
    width:3.5vh;
  }

  .footer-brand {
    color: $black;
    font-weight: 700;
  }
  .footer-nav {
    margin-left: -5vh;
    list-style: none;
    margin-bottom:0;
    display: flex;
    .footer-item {
      padding:0.5vh;
      &:hover {
        color: fade(white, 80%);
        outline: none;
        background-color: transparent;
      }
      &:active,
      &:focus {
        outline: none;
        background-color: transparent;
      }
    }
  }

  .padding-reduce{
    padding: 0;
    padding-left: 5vh;
    padding-right: 5vh;
  }

  .footer-link {
    padding-right: .5rem;
    font-size: 2.1vh !important;
    padding-left: .5rem;
    transition: none;
    color: white;
    &:hover {
      color: fade-out($white, .25);
    }
    &:active {
      color: white;
    }
  }

  .footer-link-contact {
    padding-right: .5rem;
    font-size: 2.6vh !important;
    padding-left: .5rem;
    transition: none;
    color: white;
    &:hover {
      color: fade-out($white, .25);
    }
    &:active {
      color: white;
    }
  }

  .mobile{
    display:none;
  }
  
  .desktop{
    display:none;
  }

  .footer-mobile-container{
    text-align: center;
  }



  @media (max-width: 992px) {
    .mobile{display:flex !important;flex:1; justify-content: center;}
    .desktop{display:none;}
    .footer-nav{flex-direction: column;}
  }
  
  @media (min-width: 993px) {
    .desktop{display:flex !important;}
  }
  
}
