body {
  @include body-font;
}

h1,
h2,
h3
{
  @include body-font;
  font-weight: 700;
}

h4 {
  font-weight:400;
  font-size:2.5vh;
}

.nav-border{
  border-bottom:1px solid gainsboro;
  padding-bottom:3vh;
}

.page-hyperlink{
  font-size: 2.5vh;
  margin:2vh;
}

//override bootstrap container limits
.container{
  max-width: 90vw;
}