.home-bg{
  background: linear-gradient(to bottom, #{fade-out($black, .7)} 0%,#{fade-out($black, .3)} 75%,$black 100%),  url('../img/bg-masthead.png');
}
.speaking-bg{
  background: linear-gradient(to bottom, #{fade-out($black, .7)} 0%,#{fade-out($black, .3)} 75%,$black 100%),  url('../img/bg-speaking.png');
}
.thoughtleadership-bg{
  background: linear-gradient(to bottom, #{fade-out($black, .7)} 0%,#{fade-out($black, .3)} 75%,$black 100%),  url('../img/bg-thoughtleadership.png');
}
.keynote-bg{
  background: linear-gradient(to bottom, #{fade-out($black, .7)} 0%,#{fade-out($black, .3)} 75%,$black 100%),  url('../img/bg-keynote.png');
}
.contact-bg{
  background: linear-gradient(to bottom, #{fade-out($black, .7)} 0%,#{fade-out($black, .3)} 75%,$black 100%),  url('../img/bg-contact.png');
}


@media (max-width: 599px) {
  .home-bg{
    background: linear-gradient(to bottom, #{fade-out($black, .7)} 0%,#{fade-out($black, .3)} 75%,$black 100%),  url('../img/bg-masthead-mobile.png') !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
  }
  .speaking-bg{
    background: linear-gradient(to bottom, #{fade-out($black, .7)} 0%,#{fade-out($black, .3)} 75%,$black 100%),  url('../img/bg-speaking-mobile.png')  !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
  }
  .thoughtleadership-bg{
    background: linear-gradient(to bottom, #{fade-out($black, .7)} 0%,#{fade-out($black, .3)} 75%,$black 100%),  url('../img/bg-thoughtleadership-mobile.png')  !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
  }
  .keynote-bg{
    background: linear-gradient(to bottom, #{fade-out($black, .7)} 0%,#{fade-out($black, .3)} 75%,$black 100%),  url('../img/bg-keynote-mobile.png') !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
  }
  .contact-bg{
    background: linear-gradient(to bottom, #{fade-out($black, .7)} 0%,#{fade-out($black, .3)} 75%,$black 100%),  url('../img/bg-contact-mobile.png')  !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
  }
}

@media (min-width: 600px) {
  .home-bg{
    background: linear-gradient(to bottom, #{fade-out($black, .7)} 0%,#{fade-out($black, .3)} 75%,$black 100%),  url('../img/bg-masthead.png');
  }
  .speaking-bg{
    background: linear-gradient(to bottom, #{fade-out($black, .7)} 0%,#{fade-out($black, .3)} 75%,$black 100%),  url('../img/bg-speaking.png');
  }
  .thoughtleadership-bg{
    background: linear-gradient(to bottom, #{fade-out($black, .7)} 0%,#{fade-out($black, .3)} 75%,$black 100%),  url('../img/bg-thoughtleadership.png');
  }
  .keynote-bg{
    background: linear-gradient(to bottom, #{fade-out($black, .7)} 0%,#{fade-out($black, .3)} 75%,$black 100%),  url('../img/bg-keynote.png');
  }
  .contact-bg{
    background: linear-gradient(to bottom, #{fade-out($black, .7)} 0%,#{fade-out($black, .3)} 75%,$black 100%),  url('../img/bg-contact.png');
  }
}


.bolden{
    font-weight: 600;
}

.videoBG{
  visibility: hidden;
}

.videoActive{
  visibility: visible !important;
}

.hide-element{
  visibility: hidden;
}

.header-container{
  bottom: 0; position: absolute;
  width:100%;
}

.masthead {
  @media (max-width: 992px) {
    display:flex;
    .videoBG{display:none;}
    .mobile{display:flex;flex:1;}
    .desktop{display:none !important;}
    .mobile-contact-row{display:flex;}
  }
  
  @media (min-width: 993px) {
    display:block;
    .videoBG{display:inline;}
    .desktop{display:block;}
    .mobile{display:none !important;}
    .mobile-contact-row{display:none !important;}
  }
  
  .mobile{
    display:flex;
  }
  
  .desktop{
    display:block;
  }

  .mobile-contact-row{
    display:flex;
  }

  .header-mobile-container{
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  .header-mobile-text{
    flex: 0.5;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    display: flex;
  }



  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  .tile-container-outer{
    width:35vh; 
    height:30vh;
    cursor:pointer;
    background-color: #0024B1;
    display:flex;
    flex-direction:column; 
    justify-content: center;
  }

  .white-background{
    background-color:white;
  }

  .tile-container-inner{
    width: 30vh; 
    height: 25vh; 
    margin: 0 auto;
  }

  .tile-icon{
    margin-bottom:1vh;
    width:4vh;
    height:4vh;
  }
  .tile-title-text{
    font-size:1.8vh;
    color:white;
    line-height: 2vh;
    letter-spacing: 0;
    margin:0;
    margin-bottom:1vh;
  }

  .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 2vh solid transparent;
    border-bottom: 2vh solid transparent;    
    border-left: 2vh solid #0024B1;
  }

  .tile-image-container {
    position: relative;
  }
  
  /* Make the image to responsive */
  .tile-image {
    width:35vh; 
    height:30vh;
  }
  
  /* The overlay effect - lays on top of the container and over the image */
  .tile-triangle {
    position: absolute;
    top: 2.5vh;
    width: 0; 
    height: 0; 
    border-top: 2vh solid transparent;
    border-bottom: 2vh solid transparent;    
    border-left: 2vh solid #0024B1;
  }
  
  .tile-triangle-white {
    position: absolute;
    top: 2.5vh;
    width: 0; 
    height: 0; 
    border-top: 2vh solid transparent;
    border-bottom: 2vh solid transparent;    
    border-left: 2vh solid white;
  }
  

  .tile-subtext{
    font-size:1.6vh;
    color:#d0d0d0;
    line-height: 1.6vh;
    letter-spacing: 0;
     margin:0;
     margin-bottom:1vh;
  }

  .black-font{
    color:black !important;
  }

  .primary-font{
    color: #0024b1 !important;
  }

  .tile-more{
    font-size:2vh;
    color:white;
    line-height: 2vh;
    letter-spacing: 0; 
    margin:0;
  }
  .tile-more:hover{
    text-decoration: underline;
    font-size:2vh;
    color:white;
    line-height: 2vh;
    letter-spacing: 0; 
    margin:0;
  }

  .active-tile{
    text-decoration: underline;
  }


  .title-header{
    color:white;
    font-size: 4vh;
    line-height: 3.5vh;
    font-weight: 600;
    margin-bottom:4vh;
  }

  .title-text{
    color:white;
    font-size: 2.5vh;
    line-height: 3.5vh;
    font-weight: lighter !important;
  }


  h1 {
    font-family: 'Effra';
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(fade-out(white, 0.1), fade-out(white, 1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  h2 {
    max-width: 20rem;
    font-size: 1rem;
  }
  @media(min-width: 768px) {
    h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
  @media(min-width: 992px) {
    height: 100vh;
    padding: 0;
    h1 {
      font-size: 6.5rem;
      line-height: 6.5rem;
      letter-spacing: 0.8rem;
    }
    h2 {
      max-width: 30rem;
      font-size: 1.25rem;
    }
  }
}
