.speaking-page {
  color:black;
  .section-header-text{
    font-size: 5vh;
    line-height: 6vh;
  }
  .section-header-subtext{
    margin-top:2vh;
  }
  .image-container {
    position: relative;
    text-align: center;
    color: white;
  }
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  .centered {
    text-align: left;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:75%;
    line-height: 1.2vw;
  }

  .keynotetext{
    font-size: 2vw;
    line-height: 2vw;
  }

  .subtext{
    font-size: 1.2vw;
  }

  .keynote-footer-section{
    background:url(../img/keynote-footer.png);
    background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  }

  .youtube{
    color: #007bff;
    text-decoration: underline;
  }

  .keynote-footer-text{
    margin: 20vh;
    margin-left: 0;
    color:white;
    font-size: 3vh;
  }

}

