@import 'variables.scss';
@import 'mixins.scss';
@import 'navbar.scss';
@import 'footer.scss';
@import 'masthead.scss';
@import 'buttons.scss';
@import 'landing.scss';
@import 'speaking.scss';
@import 'about.scss';
@import 'socialGrid.scss';
@import 'projects.scss';
@import 'keynote.scss';
@import 'book.scss';
@import 'signup.scss';
@import 'contact.scss';

body {
  font-family: Lora;
  letter-spacing: 0.0625em;
  font-size: 2.5vh;
  overflow-x: hidden;
}
.musa-logo{
  width:25vh;
  cursor:pointer;
}
.container{
  max-width:100%;
  padding: 5vh;
}

// accordion related styling
.card-header{
  background-color: white;
  border:0;
}


.btn-outline-primary{
  border-color: #007bff !important;
  border: 2px solid;
  font-family: Roboto !important;
  font-weight: 500;
  font-size: 2.5vh;
  padding:1vh;
  padding-left:6vh;
  padding-right:6vh;
}

.btn{
    box-shadow: none !important; 
    padding: none !important;
    text-transform: none;
    letter-spacing: 0;
    font-family: inherit;
}

.card{
  border:0;
  border-bottom: 1px solid black !important;
  border-radius: 0 !important;
}

.button {
  border:2px solid #0024B1;
  background-color: white;
  color: #0024B1;
  padding: 7px 28px;
  border-radius:5px;
  font-size: 16px;
  font-family: Roboto;
  cursor: pointer;
}

a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

.footer {
  padding: 3vh 0;
}
